################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
cmake-build-debug
CMakeLists.txt.user
/.vs
/out

.vscode

/cmake-build-minsizerel
/cmake-build-release
Build